<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hersteller %><br>
    <%= f.text_field :hersteller %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :beschreibung %><br>
    <%= f.text_area :beschreibung %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :groesse %><br>
    <%= f.text_field :groesse %>
  </div>
  <div class="field">
    <%= f.label :versandkosten %><br>
    <%= f.text_field :versandkosten %>
  </div>
  <div class="field">
    <%= f.label :lieferzeit %><br>
    <%= f.text_area :lieferzeit %>
  </div>
  <div class="field">
    <%= f.label :preis %><br>
    <%= f.text_field :preis %>
  </div>
  <div class="field">
    <%= f.label :aktion %><br>
    <%= f.text_field :aktion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
