<p id="notice"><%= notice %></p>

<p>
  <strong>Hersteller:</strong>
  <%= @product.hersteller %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @product.beschreibung %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Groesse:</strong>
  <%= @product.groesse %>
</p>

<p>
  <strong>Versandkosten:</strong>
  <%= @product.versandkosten %>
</p>

<p>
  <strong>Lieferzeit:</strong>
  <%= @product.lieferzeit %>
</p>

<p>
  <strong>Preis:</strong>
  <%= @product.preis %>
</p>

<p>
  <strong>Aktion:</strong>
  <%= @product.aktion %>
</p>

<p>
  <strong>Street:</strong>
  <%= @product.street %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
